body{
    background-color: black;
    overflow-x: hidden;
    height: 1vh;
    zoom: 67%;
}
.navbar-moi{
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    color: white;
}
h4{
    color: white;
}
button{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}



.films{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.g404{
    font-size: 30px;
    text-decoration: underline;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 400px;
    left: 37%;
}
.name{
    margin: 10px;
    font-size: 100px;
    text-align: center;
}
.infos{
    font-size: 30px;
    text-align: center;
}
.img{
    width: 2000px;
    height: 1000px;
}


.title-page{
    margin: 4%;
    font-size: 50px;
}


/* cards */


.img-card{
    height: 600px;
    width: 400px;
    border-radius: 10px;
}
.img-card:hover :nth-last-child(){
    opacity: 70%;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-moi{
    margin: 50px;
}
.title-card{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 200%;
    text-align: center;
    margin: 20px;
}
.buton-card{
    position: relative;
    left: 120px;
}




.fin{
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 300px;
}
.fin h1{
    font-size: 40px;
    position: relative;
    left: 40%;
}
.fin a{
    font-size: 30px;
    position: relative;
    left: 40%;
    cursor: pointer;
}



.reseaux{
    position: relative;
    top: 200px;
    left: 2%;

}
.reseaux h1{
    position: relative;
    left: 30px;
}
.insta{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.spotify{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.tiktok{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.youtube{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}