body{
    background-color: black;
    overflow-x: hidden;
    height: 1vh;
    zoom: 67%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-moi{
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 100px;
}

a, h1, h3{
    color: white;
    text-decoration: none;
    margin-top: 10px; 
}




.nom{
    position: relative;
    right: 30%;
    font-size: 60px;
}
.films{
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.home{
    position: relative;
    right: 8%;
    font-size: 60px;
}
button{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}


.all{
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 500px;
    margin: 50px;
}
.name-film{
    font-size: 60px;
}
.descr{
    font-size: 30px;
    text-align: center;
    margin: 60px;
}
iframe{
    width: 1000px;
    height: 550px;
}

.fin{
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}
.name-fin{
    font-size: 40px;
    position: relative;
    left: 40%;
    color: white;
}
.fin a{
    font-size: 30px;
    position: relative;
    left: 40%;
    cursor: pointer;
}
.reseaux{
    position: relative;
    top: 300px;
    left: 2%;

}
.reseaux h1{
    position: relative;
    left: 30px;
}
.insta{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.spotify{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.tiktok{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}
.youtube{
    width: 60px;
    margin-left: 12px;
    margin-right: 12px;
}